.socialCard {
    height   : 100%;

    .link {
        display        : flex;
        align-items    : center;
        justify-content: center;

        .icon {
            width : 50px;
            height: 50px;
            color : #fff;
        }
    }

    .title {
        color     : #fff;
        margin-top: 5px;
    }
}