.main {
    background     : initial;
    display        : flex;
    flex-direction : column;
    row-gap        : 20px;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : calc(100% - 60px);
    max-width      : 1600px;
    margin         : 0 auto;
    background     : forestgreen;

    .input {
        width    : 100%;
        max-width: 200px;
        padding: 6px;
        font-size: 20px;
    }
}